   <!-- /.container -->
<div class="container">
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-4 text-center">
                <strong>Site Haritası</strong>
                <hr />
                <a href="/Home/About"><span class="fa fa-info-sign"></span> Hakkımızda</a><br />
                <a href="/Home/MostLiked"><span class="fa fa-star"></span> En Beğenilenler</a><br />
                <a href="/Home/Index"><span class="fa fa-th-list"></span> Son Yazılar</a>
            </div>
            <div class="col-lg-4 text-center">
                <strong>Sedosphere</strong>
                <hr />
                <p>
                    Tüm hakları saklıdır.&copy;<br />
                    @DateTime.Now.Year
                </p>
            </div>
            <div class="col-lg-4 text-center">
                <strong>E-Bülten Üyeliği</strong><hr />

                <div class="col-md-10 col-md-offset-1">
                    <p>Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.</p>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="e-posta adresiniz" />
                        <span class="input-group-btn">
                            <button class="btn btn-primary" typeof="submit">
                                <span class="fa fa-send"></span> Gönder
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

