
@{
    ViewBag.Title = "Yetkisiz Erişim";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">

        <h1><span class="fa fa-remove-circle"></span> Yetkisiz Erişim</h1>
        <p>
            Bu sayfaya erişim yetkiniz bulunmamaktadır.<br />
            Bunun bir hata olduğunu düşünüyorsanız lütfen bizimle iletişime geçiniz.<br />


            <br /><br />
            @Bootstrap.LinkButton("/Home/Index", "primary", "", "", "Home", "Ana Sayfaya Git!")
            @Bootstrap.LinkButton("mailto:admin@sedatemre.com", "primary", "", "", "envelope", "E-Posta Gönder")
        </p>
    </div>
</div>

